<!DOCTYPE html>
<html>
<head>
  <title>Enginey</title>
  <%= stylesheet_link_tag    "enginey/application", media: "all" %>
  <%= javascript_include_tag "enginey/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
